# 5 Project: Artificial Intelligence Evaluation of Job Applications with Decision Trees

### Desicion Trees:

ðŸ“Œ In this machine learning model, flowcharts, that is, flow diagrams, are used while creating the decision-making structure.

ðŸ“Œ This is called a decision tree.

ðŸ“Œ It is within the scope of the Supervised Learning concept. As a result, it creates a tree.

ðŸ“Œ Evaluation used in recruitment is used in algorithms.

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import tree

In [2]:
df=pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [3]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

sckit-learn kÃ¼tÃ¼phanesi decision tree lerin dÃ¼zgÃ¼n Ã§alÄ±ÅŸmasÄ± iÃ§in her ÅŸeyin rakamsal olmasÄ±nÄ± bekliyor bu nedenle veri setimizdeki tÃ¼m y ve n deÄŸerlerini 0 ve 1 olarak dÃ¼zenliyoruz. AynÄ± sebeple eÄŸitim seviyesini bs:0 ms:1 ve phd: olarak gÃ¼ncelliyoruz. map( kullanarak boÅŸ hÃ¼creleri veya geÃ§ersiz deÄŸer girilen hÃ¼creleri Nan ile dolduracaktÄ±r. Buna ÅŸuanki veri setimizde ihtiyacÄ±mÄ±z yok ama not olarak kalsÄ±n.

In [4]:
duzetme_mapping = {'Y': 1, 'N': 0}

df['IseAlindi'] = df['IseAlindi'].map(duzetme_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzetme_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzetme_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzetme_mapping)
duzetme_mapping_egitim = {'BS': 0, 'MS': 1, 'PhD': 2}
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzetme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [5]:
y = df['IseAlindi']
X = df.drop(['IseAlindi'], axis=1)

In [6]:
X.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [7]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)

In [8]:
# Prediction yapalÄ±m ÅŸimdi
# 5 yÄ±l deneyimli, hazlihazÄ±rda bir yerde Ã§alÄ±ÅŸan ve 3 eski ÅŸirkette Ã§alÄ±ÅŸmÄ±ÅŸ olan, eÄŸitim seviyesi Lisans
# top-tier-school mezunu deÄŸil
print (clf.predict([[5, 1, 3, 0, 0, 0]]))

[1]

C:\Users\bskyl\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [9]:
# Toplam 2 yÄ±llÄ±k iÅŸ deneyimi, 7 kez iÅŸ deÄŸiÅŸtirmiÅŸ Ã§ok iyi bir okul mezunu ÅŸuan Ã§alÄ±ÅŸmÄ±yor
print (clf.predict([[2, 0, 7, 0, 1, 0]]))

[0]

C:\Users\bskyl\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [10]:
# Toplam 2 yÄ±llÄ±k iÅŸ deneyimi, 7 kez iÅŸ deÄŸiÅŸtirmiÅŸ Ã§ok iyi bir okul mezunu deÄŸil ÅŸuan Ã§alÄ±ÅŸÄ±yor
print (clf.predict([[2, 1, 7, 0, 0, 0]]))

[1]

C:\Users\bskyl\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [11]:
# Toplam 20 yÄ±llÄ±k iÅŸ deneyimi, 5 kez iÅŸ deÄŸiÅŸtirmiÅŸ iyi bir okul mezunu ÅŸuan Ã§alÄ±ÅŸmÄ±yor
print (clf.predict([[20, 0, 5, 1, 1, 1]]))

[1]

C:\Users\bskyl\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(